# This is my notebook in ECE 2112!

#### Python Base Types - these are the data types in Python

In [ ]:
type(346)

In [ ]:
type(45.3)

In [ ]:
type('c')

In [ ]:
type(True)

#### Python Type Conversion

How will I convert 34.5 to integer?

In [ ]:
int(34.5)

How will I convert 45 to float?

In [ ]:
float(45)

#### Operations on INTs and FLOATs

In [ ]:
#Addition
78+85

In [ ]:
#Subtraction
78-85

In [ ]:
#Multiplication
78*85

In [ ]:
#Exponentiation
78**85

In [ ]:
#Division (Float) - isang dash lang
20/6

In [ ]:
#Division (Int) - dalawang slash
20//6

In [ ]:
#Modulo - remainder
20%6

#### Operations on Strings

Strings - letters, special characters, spaces, digits that are enclosed in a pair of either single or double quotation marks.

In [3]:
s = "Advanced Programming"

In [5]:
b = s.swapcase()
b

'aDVANCED pROGRAMMING'

In [ ]:
#Dependent on ASCII codes
max(s)

In [7]:
c = s.isupper()
c

False

In [9]:
s.replace("m", "*")

'Advanced Progra**ing'

In [11]:
x = "gram" in s
x

True

In [13]:
#Slicing - string_name[index ng first element: number of characters: increment]
s[0:20:4]

'An gm'

In [17]:
txt = "I love {}"
txt.format(s)

#{} is a library for formatting strings

'I love Advanced Programming'

### Python Data Structures

Python Data Structures - any objects that holds arbitrary number of objects.

##### List - is a collection of data which uses straight brackets [  ] and commas to separate the object.

In [19]:
m = ["apple", "banana", "cherry"]

In [21]:
print(m[1])

banana

In [23]:
print(m[-1])

cherry

In [25]:
m.append("mango")
m

['apple', 'banana', 'cherry', 'mango']

In [27]:
m.insert(2,"orange")
m

['apple', 'banana', 'orange', 'cherry', 'mango']

In [29]:
m.remove("banana")
m

['apple', 'orange', 'cherry', 'mango']

In [31]:
m.sort()
m

['apple', 'cherry', 'mango', 'orange']

In [33]:
del m[1]
m

['apple', 'mango', 'orange']

##### Dictionary - uses curly braces and colons to signify the keys to their associated values

In [36]:
d = {"brand":"Mitsubishi", "model":"Mirage", "year": 2018}
d

{'brand': 'Mitsubishi', 'model': 'Mirage', 'year': 2018}

In [38]:
d.get("model")

'Mirage'

In [40]:
d["color"] = "pink"
d

{'brand': 'Mitsubishi', 'model': 'Mirage', 'year': 2018, 'color': 'pink'}

In [42]:
d.keys()

dict_keys(['brand', 'model', 'year', 'color'])

In [44]:
d.pop("model")
d

{'brand': 'Mitsubishi', 'year': 2018, 'color': 'pink'}

In [46]:
d.popitem()
d

{'brand': 'Mitsubishi', 'year': 2018}

##### Tuple - collection of data which is immutable

In [49]:
t = "apple", "banana", "cherry", "mango", "orange"
t

('apple', 'banana', 'cherry', 'mango', 'orange')

In [51]:
print(t[1])

banana

In [53]:
print(t[-2])

mango

In [57]:
print(t[2:4])

('cherry', 'mango')

In [59]:
t[2] = "orange"

TypeError: 'tuple' object does not support item assignment

In [61]:
len(t)

5

In [63]:
del t
t

NameError: name 't' is not defined

##### Set - collection of unique data elements which is unordered (ordered alphabetically)

In [65]:
s = {"banana", "apple", "cherry", "cherry"}
s

{'apple', 'banana', 'cherry'}

In [67]:
s.add("bayabas")
s

{'apple', 'banana', 'bayabas', 'cherry'}

In [75]:
s.update(["mango", "grapes"])
s

{'apple', 'bayabas', 'cherry', 'grapes', 'mango'}

In [77]:
s.remove("banana")
s

KeyError: 'banana'

In [79]:
s.pop()
s

{'apple', 'cherry', 'grapes', 'mango'}

### Input and Output in Python

#### Input (Strings)

Syntax: text = input("")

In [83]:
p = input("Enter your name: ")

Enter your name:  aesf

#### Input (Int or Float)

Syntax: 
n = int(input(""))
n = float(input(""))

In [85]:
n = int(input("Enter a number: "))

Enter a number:  12

In [87]:
n = float(input("Enter a number: "))

Enter a number:  1122121.11

#### Output

Syntax: print()

In [89]:
print("Hello World")

Hello World

In [91]:
print(n)

1122121.11

In [93]:
print("My favorite number is", n, "and I used it earlier")

My favorite number is 1122121.11 and I used it earlier